.slider {
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px  rgb(181, 181, 181);
  }
  
  .rightarrow {
    position: absolute;
    top: 48%;
    right: 15%;
    background-color: rgb(85, 85, 85);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
  }
  
  .leftarrow {
    position: absolute;
    top: 48%;
    left: 15%;
    background-color: rgb(74, 74, 74);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.05);
  }
  @media only screen and (min-width: 580px){
    .rightarrow {
      right: 14%;
    }
    
    .leftarrow {
      left: 14%;
    }
  }

  @media only screen and (min-width: 768px){
    .rightarrow {
      right: 19.5%;
    }
    
    .leftarrow {
      left: 19.5%;
    }
  }