.layer1 {
  background: linear-gradient(to bottom right, rgb(252, 3, 3), rgb(8, 8, 8));
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
}

@media only screen and (max-height:680px){
  .text{
    font-size: 12px;
  }
  .bouncetext{
    font-size: 17px;
  }
  .slidetext{
    font-size: 14px;
  }

}
@media only screen and (max-width:300px){
  .text{
    font-size: 10px;
  }
  .bouncetext{
    font-size: 15px;
  }
  .layer1{
    height: 50vh;
  }

}
