.body{
    height: 100vh;
    background-color: rgb(234, 234, 234);
    text-align: center;
}
.body .image {
    padding: 5.5%;
    border-radius: 5%;
    border: 1px solid rgb(167, 167, 167);
}

/* .button{
    padding: .5% .8%;
    color: white;
    background-color: #16A085;
    border-radius: 4px;
}

.button:hover{
    text-decoration: none;
    color: rgb(237, 237, 237);
}

.body .button:focus{
    outline: none;
} */

@media only screen and (max-width: 480px){

.button{
    font-size: 12px;
}
}