/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */

* {
  box-sizing: border-box;
}

/* html {
  font-family: 'Noto Sans JP', sans-serif;
} */

body {
  margin: 0;
  /* background-color: #c5a23b; */
}
::-webkit-scrollbar {
  width: 8.5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(149, 0, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.988);
}
